package home

import "github.com/book/help/internal/components"

templ Home(){
    @components.Application(){
        <div class="text-center max-w-md mx-auto">
            <p class="text-4xl">👋</p>
            <h1 class="font-bold text-2xl pb-2">Welcome to Book-quote</h1>
            <p>Here we have, this is the beginning of an amazing thing we're going to build. Let's do it!!!</p>
        </div>
    }
}